/*start main ruls*/
body{
    background-color:#666666 ;
    height: 1000px
}
.container{
    width: 1170px;
    margin: auto;
}

/*End main ruls*/

/*start header*/
.header .slider{
    background-image:url("planet.jpg");
    -webkit-background-size: cover; /*Css3*/
    -moz-background-size: cover; /*Css3*/
    -o-background-size: cover; /*Css3*/
    background-size: cover; /*Css3*/
    height: 600px
}
.header .slider .intro{
    padding-top: 80px; 
    height:600px;
    text-align: center;
    color:#fff 
}
.header .slider .intro h2{margin: 0 auto ; font-size:70px ; width:600px ; text-transform:capitalize }
.header .slider .intro h2 span{
    color:#1c2696
}
.header .slider .intro div{margin: 0 auto ;font-size:30px ; color: 1c2696 ; font-family: 'Noto Kufi Arabic', sans-serif ; font-style:italic}
.header .navbar{
    background-color: #000000;
    color: #F7FBFF;
    overflow:hidden
}
.header .navbar h2{float:left;text-transform:uppercase }
.header .navbar h2 span{ color:#2734C4}


.header .navbar ul{
    list-style: none;
    padding: 0;
    overflow:hidden;
    float: right;
    font-size: 15px;
    font-family: 'Noto Kufi Arabic', sans-serif 
}
.header .navbar ul li {float:right ; padding:10 20 10 20}
.header .navbar ul li a {
    color:#D9ED02;
    text-decoration:none 
    
}
.header .navbar ul li a:hover {
    color: #0E18CE;
    background-color: #FFFFFF ;
    transition: 0.5s ease-in-out;
    border-radius:5px   
}
/*Ehd header*/
/*start body*/
.body .tape1 form .gana {background-image:url("taher2.jpg") ; background-size: cover; overflow:hidden; float: right ;border-style:double  ;border-radius:15px  ;width:1125px ;direction:rtl ; margin:20px ;padding:20px ;font-size:20px ;font-family: 'Noto Kufi Arabic', sans-serif  }
.body .tape1 form .gana:hover{
    color: #F7F7F7;
    background-color: #000000 ;
    transition: 1.0s ease-in-out;
    border-radius:0px 20px }
.body .tape1 form .gana label {text-align:center ; font-size:40px ; margin:20px}   
/*legend{
    background:#F8981D ;
    border-style:groove;
    border-radius:15px
    }*/
.body .tape1 form .taher {
    color: #f9f9f9;
    font-weight:5px 
    float: right;
    overflow: hidden ;
    direction:rtl
    /*margin:10px*/
    ;padding:10px }
body .tape1 form .hd {
    float: right;
    overflow: hidden ;
    display:in line-block;
    margin: 5px;
    padding: 15px
}
/*body .tape1 form .hd:hover {
    background-color: #0A0000 ;
    transition: 0.5s ease-in-out;
    border-radius:0px 20px }*/
body .tape1 form .nn {
    border-radius:7px 12px;
    margin: 5px ;
    padding: 15px;
    width: 280px;
    position:relative;
    bottom:12px;
    left:0px 
    
    
}

    
/*end body*/


